@media only screen and (max-width: 320px) {
  body {
    font: 12px/120% Arial, sans-serif;
  }
  
  .cn {
    width: 100%;
  }

  .en {
    display: none;
  }
  
  .cn .content {
    padding: 0 20px;
  }
  
  .en .content {
    padding: 0;
  }
  
  nav {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px 0;
    text-align: left;
  }

  h1 {
    display: inline;
    padding-left: 7px;
    position:relative;
    top: 5px;
  }

  h1 a {
    background: url(/images/logo-small.png) center center no-repeat;
    background-size: 50px 50px;
    background-position: left center;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-indent:-999em;
  }

  nav ul {
    float: right;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 240px;
  }

  nav li {
    display: inline;
    float: right;
    margin: 0 7px 10px 0;
    padding: 0;
  }

  nav li a {
    background: url(/images/bg-icons.png) left bottom no-repeat;
    background-size: 240px 80px;
    display: inline-block;
    height: 40px;
    text-indent: -999em;
    width: 40px;
  }
  nav li a:hover {
    background-position: left top;
  }

  nav li.rss a {
    background-position: -40px bottom;
  }
  nav li.rss a:hover {
    background-position: -40px top;
  }

  nav li.newsletter a {
    background-position: -80px bottom;
  }
  nav li.newsletter a:hover {
    background-position: -80px top;
  }

  nav li.twitter a {
    background-position: -200px bottom;
  }
  
  nav li.twitter a:hover {
    background-position: -200px top;
  }

  nav li.english a {
    display: inline-block;
    background-position: -120px bottom;
  }
  nav li.english a:hover {
    display: inline-block;
    background-position: -120px top;
  }
  
  /*content*/
  h2 {
    font-size: 12px;
  }
  
  h3 {
    font-size: 15px;
    margin: 0 0 20px;
  }
  
  section {
    margin: 0 auto 20px;
    width: 100%;
    text-align: left;
  }
  
  #announcement {
    padding-bottom: 0px
  }

  #announcement div p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 10px 0 10px 40px;
  }
  
  #announcement .when {
    background: #67c936 url(/images/icon-clock.png) no-repeat 10px center;
    background-size: 20px 20px;
  }

  #announcement .where {
    background: #67c936 url(/images/icon-marker.png) no-repeat 10px center;
    background-size: 20px 20px;
  }

  #announcement div p small {
    display: block;
    font-size: 11px;
  }
  
  footer {
    background: #eee;
    clear: both;
    font-size: 8px;
    padding: 10px 0;
    text-align: center;
  }
}