@media only screen and (max-width: 600px) and (min-width: 321px){
  body {
    font: 12px/120% Arial, sans-serif;
  }
  
  .cn {
    width: 100%;
  }

  .en {
    display: none;
  }
  
  .cn .content {
    padding: 0 20px;
  }
  
  .en .content {
    padding: 0;
  }
  
  nav {
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    text-align: left;
  }

  h1 {
    display: inline;
    padding-left: 10px;
  }

  h1 a {
    background: url(/images/logo.png) center center no-repeat;
    background-size: 60px 60px;
    display: inline-block;
    height: 60px;
    text-indent: -999em;
    width: 60px;
  }

  nav ul {
    float: right;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 240px;
  }

  nav li {
    display: inline;
    float: right;
    margin: 0 10px 10px 0;
    padding: 0;
  }

  nav li a {
    background: url(/images/bg-icons.png) left bottom no-repeat;
    background-size: 240px 80px;
    display: inline-block;
    height: 40px;
    text-indent: -999em;
    width: 40px;
  }
  nav li a:hover {
    background-position: left top;
  }

  nav li.rss a {
    background-position: -40px bottom;
  }
  nav li.rss a:hover {
    background-position: -40px top;
  }

  nav li.newsletter a {
    background-position: -80px bottom;
  }
  nav li.newsletter a:hover {
    background-position: -80px top;
  }

  nav li.twitter a {
    background-position: -200px bottom;
  }
  nav li.twitter a:hover {
    background-position: -200px top;
  }
  
  nav li.en a {
    background-position: -160px bottom;
  }
  nav li.en a:hover {
    background-position: -160px top;
  }
  
  /*content*/
  h2 {
    font-size: 12px;
  }
  
  h3 {
    font-size: 18px;
    margin: 0 0 20px;
  }
  
  section {
    margin: 0 auto 20px;
    width: 100%;
    text-align: left;
  }
  
  #announcement {
    padding-bottom: 0px
  }

  #announcement div p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 10px 50px;
  }
}