/* General */
body {
  background: #fff;
  color: #444;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  text-align: center;
}

a,
a:visited,
a:link {
  color: #67c936;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.cn {
  width: 50%;
}
 
.en {
  float: right;
  width: 50%;
}

.en .content {
  padding-left: 10px;
}

.cn .content {
  padding-right: 10px;
}

/* Map */
#map {
  background: #eee;
  height: 200px;
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
  z-index: -1;
}

/* Header */
nav {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 0;
  text-align: left;
}

h1 {
  display: inline;
}

h1 a {
  background: url(/images/logo.png) center center no-repeat;
  display: inline-block;
  height: 120px;
  text-indent: -999em;
  width: 120px;
}

nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  width: 140px;
}

nav li {
  display: inline;
  float: right;
  margin: 0 20px 20px 0;
  padding: 0;
}

nav li a {
  background: url(/images/bg-icons.png) left bottom no-repeat;
  display: inline-block;
  height: 50px;
  text-indent: -999em;
  width: 50px;
}
nav li a:hover {
  background-position: left top;
}

nav li.rss a {
  background-position: -50px bottom;
}
nav li.rss a:hover {
  background-position: -50px top;
}

nav li.newsletter a {
  background-position: -100px bottom;
}
nav li.newsletter a:hover {
  background-position: -100px top;
}

nav li.twitter a {
  background-position: -250px bottom;
}
nav li.twitter a:hover {
  background-position: -250px top;
}

nav li.en a {
  background-position: -150px bottom;
}
nav li.en a:hover {
  background-position: -150px top;
}



/* Content */
#content {
  clear: both;
}

h2 {
  background: #67c936;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

section {
  margin: 0 auto 20px;
  max-width: 900px;
  text-align: left;
}

p {
  margin: 0 0 20px;
}

/* archive */
#archive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#archive li {
  border-bottom: 1px dotted #ddd;
  margin: 0 0 10px;
  padding: 0 0 10px;
}

#archive li:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}

footer {
  background: #eee;
  clear: both;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

#announcement {
  padding-bottom: 20px;
}

#announcement h2 {
  border-bottom: 1px dotted #fff;
  display: block;
  margin: 0;
}

#announcement div p {
  color: #fff;
  font-size: 22px;
  margin: 0;
  padding: 10px 0 10px 50px;
}

#announcement .when {
  background: #67c936 url(/images/icon-clock.png) no-repeat 10px center;
}

#announcement .where {
  background: #67c936 url(/images/icon-marker.png) no-repeat 10px center;
}

#announcement div p small {
  display: block;
  font-size: 12px;
}
