/* General */
body {
  background: #fff;
  color: #444;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}

a,
a:visited,
a:link {
  color: #67c936;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Layout */
#header,
#content {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

/* Header */
h1 {
  text-align: center;
}

h1 a {
  background: url(/images/logo.png) center center no-repeat;
  display: inline-block;
  height: 120px;
  text-indent: -999em;
  width: 120px;
}

/* Content */
h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 24px;
}