---
layout: default
title: 上海开源聚会
---
<section id="announcement">
  {% for post in site.posts limit: 2 %}  
    {% case post.language %}
      {% when 'chinese' %}
      <div class='cn'>
        <div class="content">
          <h2>近期活动</h2>
          <p class="when">{{ post.day | date: "%Y年 %m月 %d日" }}, 下午{{ post.time }}点</p>
          <p class="where">{{ post.address }}<small>({{ post.road }})</small></p>
        </div>            
      </div>
      {% when 'english' %}
      <div class='en'>
        <div class="content">
          <h2>Upcoming event</h2>
          <p class="when">{{ post.day | date: "%b %d %Y" }}, from {{ post.time | "%I"}}pm</p>
          <p class="where">{{ post.address }}<small>({{ post.road }})</small></p>
        </div>
      </div>
    {% endcase %}
  {% endfor %}
</section>

<section class="articles">
{% for post in site.posts limit: 2 %}  
  {% case post.language %}
    {% when 'chinese' %}
      <div class='cn'>
        <div class="content">
          <article>
            <h2>最新发布 ({{ post.date | date: "%Y年 %m月 %d日" }})</h2>
            <h3><a href="{{ site.posts.first.url }}">{{ post.title }}</a></h3>
               {{ post.content }}
          </article>
        </div>
      </div>      
    {% when 'english' %}
      <div class='en'>
        <div class="content">
          <article>
            <h2>Latest blog post ({{ post.date | date: "%B %d, %Y" }})</h3>
            <h3><a href="{{ site.posts.first.url }}">{{ post.title }}</a></h3>
            {{ site.posts.first.content }}
          </article>
        </div>
      </div>
  {% endcase %}
{% endfor %}
</section>

<section class="articles">
{% for post in site.posts offset: 2 %}  
  {% case post.language %}
    {% when 'chinese' %}
      <div class='cn'>
        <div class="content">
          <article>
            <h2>最近发布 ({{ post.date | date: "%Y年 %m月 %d日" }})</h2>
            <h3><a href="{{ site.posts.first.url }}">{{ post.title }}</a></h3>
               {{ post.content }}
          </article>
        </div>
      </div>      
    {% when 'english' %}
      <div class='en'>
        <div class="content">
          <article>
            <h2>Older blog post ({{ post.date | date: "%B %d, %Y" }})</h3>
            <h3><a href="{{ site.posts.first.url }}">{{ post.title }}</a></h3>
            {{ site.posts.first.content }}
          </article>
        </div>
      </div>
  {% endcase %}
{% endfor %}
</section>