html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 160%;
}

ul, li {
  list-style: none;
}

.container {
  margin: 0 auto;
  text-align: left;
  padding: 0 10px;
  position: relative;
  max-width: 940px;
}

/**/
header .container div,
#events .container div {
  display: inline;
  float:left;
  position:relative;
  width: 400px;
  margin: 20px;
}

#archive .container div {
  display: inline-block;
  float:left;
  position:relative;
  width: 960px;
}

/**/
header {
  height: 200px;
}
header ul li {
  display: inline;
}

footer {
  color: #ddd;
  text-transform: uppercase;
  text-align:center;
  margin: 20px 0;
}