---
layout: default
languages: "dfsfsdf"
---
<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="description" content="上海开源聚会">
  <meta name="author" content="Ronan Berder">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  
  <!-- JS -->
  <script src='/javascripts/mapbox.js'></script>
  <link href='/css/mapbox.css' rel='stylesheet' />
  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <!-- RSS -->
  <link href="http://feeds.feedburner.com/RonanBerder" rel="alternate" title="Ronan Berder" type="application/atom+xml">

  <!-- Icons -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>  
  <nav id="header">
  	<h1><a href="{{ base.url }}/">上海开源聚会</a></h1>
  	<ul>
      <li class='weibo'><a href="http://www.weibo.com/shanghaios" target="_blank">Shanghai Open Source meetup on Weibo</a></li>
      <li class='rss'><a href="/atom.xml">Shanghai Open Source meetup RSS feed</a></li>
      <li class='newsletter'><a href="http://eepurl.com/o9bBz" target="_blank">Shanghai Open Source meetup's newsletter</a></li>
      <li class='twitter'><a href="https://twitter.com/ShanghaiOs" target="_blank">twitter</a></li>
    </ul>
  </nav>
  
  <div id='map'></div>
  
  <section id="announcement">
    {% for post in site.posts %}  
      {% case post.language %}
        {% when 'chinese' %}
        <div class='cn'>
          <div class="content">
            <h2>近期活动</h2>
            <p class="when">{{ post.date | date: "%Y年 %m月 %d日" }}, 下午{{ post.time }}点 <small>(下班后)</small></p>
            <p class="where">{{ post.address }}<small>({{ post.road }})</small></p>
          </div>            
        </div>
        {% when 'english' %}
        <div class='en'>
          <div class="content">
            <h2>Upcoming event</h2>
            <p class="when">{{ post.date | date: "%b %d %Y" }}, from {{ post.time | "%I"}}pm<small>(right after work)</small></p>
            <p class="where">{{ post.address }}<small>({{ post.road }})</small></p>
          </div>
        </div>
      {% endcase %}
    {% endfor %}
  </section>
  
  <script>
    var m = mapbox.map('map');
      m.addLayer(mapbox.layer().id('wiredcraft.Shanghaimap'));

      // Create an empty markers layer
      var markerLayer = mapbox.markers.layer();

      // Add interaction to this marker layer. This
      // binds tooltips to each marker that has title
      // and description defined.
      mapbox.markers.interaction(markerLayer);
      m.addLayer(markerLayer);

      m.zoom(15).center({ lat: 31.23548326394313, lon: -238.56716138610355 });

      // Add a single feature to the markers layer.
      // You can use .features() to add multiple features.
      markerLayer.add_feature({
          geometry: {
              coordinates: [-238.56716138610355, 31.23548326394313]
          },
          properties: {
              'marker-color': '#3b7217',
              'marker-symbol': 'star'
          }
      });
  </script>
  
  <section>
    {{ content }}
  </section>
  
  <footer>Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</footer>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-773975-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>