---
layout: default
---

<article id='latest' class='post'>
  <time datetime='{{ site.categories.[page.lang].first.date | xmlschema }}' class='time'>{{ site.categories.[page.lang].first.date | date: '%D' }}</time>
  <h2><a href='{{ site.url }}{{ site.categories.[page.lang].first.url }}'>{{ site.categories.[page.lang].first.title }}</a></h2>
  {{ site.categories.[page.lang].first.content }}
</article>

<ul id='archive'>
  {% for post in site.categories.[page.lang] offset:1 %}
    <li class='post'>
      <span class='time'><time datetime='{{ post.date | xmlschema }}'>{{ post.date | date: '%D' }}</time> ›</span>
      <a href='{{ site.url }}{{ post.url }}'>{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>