---
layout: index
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <link rel="stylesheet" href="/assets/css/reset.css" media="all">
  <link rel="stylesheet" href="/assets/css/style.css" media="all">
</head>

<body>
  <header>
    <div class="container">
    	<div class='en'>
         <h1>OSSSHANGHAI</h1>
         <ul>
           <li><a href='#what'>What?</a></li>
           <li><a href='#details'>Next meetup</a></li>
           <li><a href='#about'>About</a></li>
         </ul>
      </div>
    	<div class='cn'>
        <h1>OSS上海聚会</span></h1>
        <ul>
          <li><a href='#what'>主题</a></li>
          <li><a href='#details'>近期活动</a></li>
          <li><a href='#about'>关于</a></li>
        </ul>
      </div>
    </div>
  </header>
  
  <section id="events">
    <div class="container">
      {% for post in site.posts | limit:!%}  
        <div class="en">
          <h2>{{ post.title }}</h2>
          <h2>{{ post.nextmeetup }}</h2>
          <h2>{{ post.about }}</h2>
          <h2>{{ post.what }}</h2>
          <h2>Contact us:</h2>
          <p>To contact us send an email to: opensourcemeetup@gmail.com</p>
        </div>
      	<div class='cn'>
      	  <h2>{{ post.title-cn }}</h2>
          <h2>{{ post.nextmeetup-cn }}</h2>
          <h2>{{ post.about-cn }}</h2>
          <h2>{{ post.what-cn }}</h2>
          <h2>联系我们（contact us）</h2>
          <p>发送邮件至：opensourcemeetup@gmail.com联系我们</p>
        </div>
      {% endfor %}
    </div>
  </section>
  
  <section id="archive">
    <div class="container">
      {% for post in site.posts %}
        {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
        {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
      
        {% if forloop.first %}
          <!-- <h5>{{this_month}}</h5> -->
          {% endif %}
            <li><span>{{ post.date | date: "%Y %b %d" }}</span> &raquo; <a href="#{{post.date | date:" %y-%m%d"}}">{{ post.title }}</a></li>
          {% if this_month != next_month %}
          <!-- <h5>{{next_month}}</h5> -->
        {% endif %}  
      {% endfor %}
    </div>
  </section>
  
  <footer>
    <div class="container"> &COPY; 2012 wiredcraft</div>
  </footer>
</body>
</html>